body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    margin: 0rem;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#image-track {
    display: flex;
    gap: 0vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-25%, -50%);
}

#image-track img {
    width: 40vmin;
    height: 70vmin;
    object-fit: cover;
    object-position: 50% 50%;
    border: 3px solid #a5a5a5;
}

#image-track figcaption {
    text-align: center;
    color: #a5a5a5;
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
    font-weight:bold;
    line-height:150%;
}

#image-track #year_category {
    color: rgb(216, 124, 38);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    letter-spacing: 25px;
}
