:root{
    --main-colour: rgb(209, 98, 57);
}

html, body {
    min-height: 800px;
    overflow: hidden;
  }

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('media/website-utils/tileable-noise.png');
    background-size: auto, auto;
    background-repeat: repeat, repeat;

    color: rgb(255, 255, 255);
    margin: 0rem;
    overflow: auto;
    scrollbar-width: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    font-family: system-ui;
    font-family: Montserrat;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--main-colour);
    color: black;
  }

/* TAB BUTTONS */

.tab {
    display: none;
}

nav {
    display: flex;
    font-size: 1.5rem;
    place-content: center;
}
nav ul {
	--_gap: 2rem;
	display: flex;
	margin: 0;
	padding: 20px;
	list-style: none;
}

nav a {
	color: inherit;
	opacity: 0.7;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
}

nav a:hover,
nav a:focus-visible {
	opacity: 1;
}

nav li {
	overflow: hidden;
	position: relative;
	padding: calc(var(--_gap) / 2);
	min-inline-size: 3rem;
}

nav li::after {
	content: '';
	position: absolute;
	inset-inline: 0;
	inset-block-end: 0;
	block-size: 3px;
	background-color: var(--main-colour);

	scale: var(--_scale, 0) 1;
	transition: scale 300ms;
}

nav li:hover {
	--_scale: 1;
}


.tab-button:hover {
    color: rgb(211, 211, 211);
}

.tab-button.selected {
    color: var(--main-colour);
}

/* ABOUT TAB */
 
#about, .email-contact {
    user-select: text !important;
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
}
#about {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    place-content: center;
    padding: 50px 0;
    color: rgb(220, 220, 220);
    height: 70vh;
    width: 70vw;
    margin: auto;
    max-width: 800px;
    /* text-align:justify; */
} 


a {
    color: var(--main-colour);
    text-decoration: none;
    font-weight: bold;
}
  
a:hover {
    color: var(--main-colour);
    filter: brightness(1.3);

}

/* WORK TAB */

.grid-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
  
.grid-item {
    flex-direction: row;
    float: none;
    padding: 5px;
    margin: 0;
    min-width: 400px;
    min-height: auto;
}

.grid-item img {
    width: 400px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 2/3;
    border-radius: 10px;
}

.flip-container {
    perspective: 1000px;
    position: relative;
}

.flip-container.flipped .flipper {
    transform: rotateY(-180deg);
    }

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    height: 600px;
    text-align: center;
}

.front {
    z-index: 2;
    backface-visibility: hidden;
    position: absolute;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    z-index: 1;
    border: 3px solid #a5a5a5;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.back-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, .80);
    border-radius:10px;
}

.imdbRatingPlugin img {
    max-width:min-content;
    aspect-ratio: 38/18;
    max-height: fit-content;
}
.imdbRatingPlugin {
    background-color: rgb(229, 187, 36);
    color: #ee0505;
    
}

.project-title {
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
}

.project-description {
    font-size: 16px;
    padding: 30px;
}

.uncredited {
    font-style: italic;
}

/* .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    text-align: center;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    
    opacity: 0;
    scale: 0;
    transition: scale 0.3s ease;
    z-index: 100;
} */

  
/* .project-text p, .position-text p {
    font-size: 18px;
    font-weight: bold;
    padding: 20%;
} */


/* .year-category p {
    font-size: 40px;
} */

.container {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    place-content: center;
    padding: 50px 0;
    color: rgb(220, 220, 220);
    height: 70vh;
    width: 70vw;
    margin: auto;
}

/* SOCIAL MEDIA */

.social-icons {
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 10px;
    transition: color 0.5s;
}

.social-icon {
    width: 50px;
    height: auto;
    vertical-align:bottom;
    filter: grayscale(100%) brightness(65%);
    transition: filter 0.5s;
}

.social-icon:hover {
    filter: grayscale(0%) brightness(100%);
}


.container {
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.container .form-group {
    margin-bottom: 10px;
}

.container label {
    display: block;
    font-weight: bold;
    color: var(--main-colour);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    background-color: #a5a5a5;
}

input[type="submit"] {
    background-color: var(--main-colour);
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
